* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;

  font-family: 'Bison-Bold';
  background: #fdcd07;
}
.logo {
  height: 100vh;
  min-height: 800px;
  padding-top: 285px;
  box-sizing: border-box;
  background: linear-gradient(to right, #000000 50%, #fdcd07 50%);
}
.logo__img {
  display: block;
  margin: 0 auto;
}

.intro {
  padding: 20px;
   background: #000000;
   color: #fdcd07;

   line-height: 38px;
   text-align: center;
}

.intro__title {
  margin: 0;
  padding: 40px 0 25px;

  letter-spacing: .3em;
  font-size: 70px;
}

.intro__text {
  margin: 0 0 60px;
  font-size: 20px;
}

.btn {
  margin: 0 14px;
  width: 450px;
  height: 72px;
  box-sizing: border-box;

  border: none;
  border-radius: 15px;
  background: #000000;

  font-family: inherit;
  font-size: 18px;
  color: #fff;


  cursor: pointer;
  transition: all .3s linear;
}

.btn--yellow {
  background: #fdcd07;
  color: #000000;
}

.btn--black {
  background: #000000;
  border: 2px solid #fff;
}

.btn--yellow:hover {
  background: #000000;
  border: 2px solid #fff;
  color: #fff;
}

.btn--black:hover {
  background: #fdcd07;
  border: none;
  color: #000000;
}

.social {
  display: flex;
  justify-content: center;
  margin: 27px 0 0;
  list-style: none;
}
.social__item {
  margin: 0 9px;
}

.social__link {
  display: block;
  width: 43px;
  height: 43px;

  background: #fdcd07;
  border-radius: 50%;
  box-sizing: border-box;

  color: #000000;
  font-size: 20px;
  transition: all .3s linear;
}
.social__link i {
  margin-top: 50%;
  transform: translateY(-50%);
}
.social__link:hover {
  background: #000000;
  color: #fff;
  border: 1px solid #fff;
}
.content__title {
  padding: 80px 0 70px;
  text-align: center;
  font-size: 70px;
  text-transform: uppercase;
}

.gallery {
  padding-top: 11px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;
  background: #fff;
}
.gallery__item {
  margin-right: 11px;
  margin-bottom: 11px;
  min-height: 235px;
}
.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-01 {
  height: 33%;
}
.item-02 {
  height: 34.2%;
}
.item-07 {
  height: 10%;
}
.item-04 {
  height: 38%;
}
.item-05 {
  height: 35%;
}

.gallery__wrapper:first-child {
  width: 32.6%;
}

.gallery__wrapper:nth-child(2) {
  width: 33.4%;
}

.gallery__wrapper:nth-child(3) {
  width: 29.6%;
  margin-right: -11px;
}

.gallery__wrapper:last-child {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-left: 11px;
}

.gallery__wrapper:last-child .gallery__item:first-child {
  width: 54.17%;

}

.gallery__wrapper:last-child .gallery__item:last-child {
  width: 40.61%;
  max-height: 925px;
}

.gallery__text {
    position: relative;
    padding: 70px 50px;
    height: 785px;

    background: #fdcd07;
}

.gallery__text p {
  position: absolute;
  width: 450px;

  font-size: 80px;
    line-height: 1;
    letter-spacing: .1em;
}

.gallery__text p:last-child {
  bottom: 70px;
}

.gallery__text span {
  font-size: 110px;
}


@font-face {
  font-family: 'Bison-Bold';
  src: url('fonts/Bison-Bold.eot');
  src: url('fonts/Bison-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Bison-Bold.woff2') format('woff2'),
       url('fonts/Bison-Bold.woff') format('woff'),
       url('fonts/Bison-Bold.ttf')  format('truetype'),
       url('fonts/Bison-Bold.svg#svgBison-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 1000px) {
  .btn {
    width: 35%;
  }
  .gallery__text p {
    width: 350px;
    font-size: 50px;
  }

  .gallery__text span {
    font-size: 90px;
  }
  .item-02 {
    height: 36.2%;
  }

  .item-05 {
    height: 36.6%;
  }
}

@media (max-width: 740px) {
  .logo__img {
    width: 65%;
  }

  .intro__title {
    letter-spacing: .2em;
    font-size: 45px;
  }
  .intro__text {
    font-size: 15px;
  }
  .btn {
    width: 90%;
  }
  .social__item {
    margin: 0 5px;
  }

  .gallery__wrapper:last-child {
    flex-direction: column;
    margin-right: 11px;
  }

  .gallery__wrapper:last-child .gallery__item {
    width: 100% !important;
    margin-right: 11px;
  }
  .gallery__text {
    height: 500px;
  }
  .gallery__text p {
    width: 50%;
    font-size: 40px;
  }
  .gallery__text span {
    font-size: 70px;
  }
}
